/* Phan danh cho nhung thuoc tinh chung*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Phan cua trang*/

.khung-cua-slide{
    width: 100%;
}

.khung-cua-slide img{
    width: 100%;
}

.button{
    text-decoration: none;
    font-family: 'Google Sans';
    font-size: 15px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(left,rgb(228, 193, 127),orange);
    padding: 40px 20px 40px 20px;
    border-radius: 20px;
}

.button:hover{
    background-image: -webkit-linear-gradient(left, rgb(82, 143, 82),rgb(0, 128, 0));
}

.wrap{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
}

.wrap .logo{
    width: 20%;
    text-align: center;
}

.wrap .logo img{
    margin: auto;
    display: block;
}

.wrap .menu{
    width: 60%;
    text-align: center;
}

.wrap .menu ul{

}

.wrap .menu ul .cha{
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.wrap .menu ul .cha a{
    padding: 20px;
}
.wrap .menu ul .cha .con{
    /*De no xuat hien tu tu trong hieu ung, chi an di va khong bien mat hoan toan*/
    opacity: 0;
    /*De no bien mat hoan toan*/
    visibility: hidden;
    position: absolute;
    top: 75px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.671);
}

.wrap .menu ul .cha .con ul{
    
}

.wrap .menu ul .cha:hover .con{
    opacity: 1;
    visibility: visible;
    top: 25px;
}

.wrap .menu ul .cha .con ul li{
    text-decoration: none;
}

.wrap .nut{
    width: 20%;
    text-align: center;
}

