a{
    text-decoration: none;
    font-family: 'Google Sans';
    font-size: 24px;
    color: rgb(0, 0, 0);
}

html,body{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.Toan-bo-trang{
    background-image: url("https://www.50mm.vn/wp-content/uploads/2017/11/windows_xp_bliss-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;    
}

.Toan-bo-trang .Menu-cha{
    position: relative;
}

.Menu-cha .Menu-con{
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 20px;
}

.Menu-cha:hover .Menu-con{
    opacity: 1;
    visibility: visible;
}

.Menu-cha .Menu-con li{
    transition: 0.4s;
    padding: 10px;
}

.Menu-cha .Menu-con li a{
    padding: 10px;
}

.Menu-cha .Menu-con li:hover a{    
    background-image: -webkit-linear-gradient(right,rgb(145, 49, 49),rgb(91, 91, 192));
    border-radius: 10px;
}

.nut{
    color: white;
    background-image: -webkit-linear-gradient(top,rgb(182, 75, 75),rgb(109, 109, 214),rgb(131, 54, 118));
    padding: 20px 35px 20px 35px;
    border-radius: 10px;
    border: 2px solid gray;
}

.vidu{
    background-color: red;
    width: 400px;
}