li{
    list-style: none;
    padding: 12px;
    transition: 0.4s;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font: 24px;
    color: white;
}

ul{
    display: flex;
    background-color:teal;
}

div{
    width: 800px;
    margin: auto;
}

li:hover{
    margin-top: -6px;
}