div.menu{

}

.noidung{

}

a.chuto{
    font-size: 32px;
}

div{
    display: block;
    text-align: center;
    background-color: tomato;
}
ul{
    margin: auto;
}
li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    text-align: center;
}
a{
    text-decoration: none;
    display: block;
}
a:hover{
    font-weight: bold;
    color: thistle;
}

li:hover{
    background-color: rgb(116, 20, 3);
}