.content{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.content .tab-phu{
    width: 300px;
}

.bai-viet{
    text-decoration: none;
}

.content .tab-phu .bai-viet{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.content .tab-phu .bai-viet img{
    width: 80px;    
    display: block;
}

.content .tab-phu .bai-viet p{
    width: 210px;
    font-family: "Google Sans";
    font-weight: bold;
    color: black;
    transition: 0.4s;
}

.content .tab-phu .bai-viet:hover p{
    color: blue;    
    display: block;
}

.content .tab-chinh .bai-viet{
    width: 580px;
    overflow: hidden;
    display: block;
}

.content .tab-chinh .bai-viet img{
    width: 100%;
    transition: 0.4s;
    display: block;
}

.content .tab-chinh .bai-viet h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.content .tab-chinh .bai-viet:hover h1{
    color: ;
    display: block;
}

.content .tab-chinh .bai-viet img:hover{    
    transform: scale(1.1);
}

.content .bai-noi-bat{
    width: 300px;
    background-color: rgba(255, 255, 255, 0)
}