*{
    top: 0;
}
.header {    
    width: 100%;
    height: 52px;
    position: fixed;
    margin-bottom: 0;
    border-bottom: 1px solid gray;
    background-color: rgb(235, 235, 235);
}
.header .wrapper{
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.header .wrapper .logo{
    width: 100px;
    margin-top: 8px;
    position: absolute;
}

.header .wrapper .menu{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 80px;
}

.header .wrapper .menu ul{
    display: flex;
}

.header .wrapper .menu ul li a{
    text-decoration: none;    
    font-family: Google Sans;
    font-weight: bold;
    color: black;
    padding: 0px 6px 0px 6px;
    transition: 0.4s;
}

.header .wrapper .menu ul li{
    list-style: none;
}

.header .wrapper .menu ul li:hover a{
    color: rgba(8, 8, 189, 0.849);
}

.header .wrapper .icon{
    align-items: center;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
}

.header .wrapper .icon a{
    color: black;
}

.noidung{
    width: 700px;
    text-align: justify;
    margin: auto;
    padding-top: 150px;
}
.noidung .directory{
    width: 100%;
    text-align: center;
    font-family: Google Sans;
    font-size: 17px;
}

.noidung .author{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.noidung .author span{
    font-weight: normal;
}

.noidung img{
    width: 100%;
}

.noidung h3{
    text-align: center;
    padding-bottom: 20px;
}

.noidung p{
    font-size: 21px;
    color: rgb(19, 19, 19);
}

.popular{
    width: 1100px;
    margin: auto;
}

.popular .new-info{
    font-family: Google Sans;
    font-weight: bold;
    font-size: 32px;
    margin-left: 100px;
}

.popular .new-info span{
    color: chocolate;
    padding-right: 10px;
}

.noidung hr{
    width: 700px;
    margin: auto;
}

.popular .intro{
    width: 750px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}

.popular .intro a img{
    padding-right: 20px;
    width: 300px;
}

.popular .intro .article a{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-family: Google Sans;
}

.popular .intro .article .time span{
    padding-right: 8px;
}

.popular hr{
    width: 750px;
    margin-right: 250px;
    color: rgb(83, 82, 82);
}