html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.background{
    background-image: url("https://cortex.qodeinteractive.com/wp-content/uploads/2017/06/h15-img-1a.jpg");
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.background .nen{
    margin-left: 150px;
    padding-top: 100px;
}
.background .nen .author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: white;
}
.background .nen .job{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: rgb(190, 60, 60);
}
.background .nen hr{
    width: 200px;
    height: 5px;
    color: rgb(190, 60, 60);
}
.background .nen .menu1,.menu2,.menu3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
}
.background .nen ul{
    font-size: 18px;
}
ul li{
    list-style: none;
}

ul li a{
    display: inline;
    text-decoration: none;
    color: white;
}
ul li{
    
}
ul li i{
    opacity: 0;
    color: greenyellow;
    transition: 0.4s;
}
ul li:hover i{
    opacity: 1;
    margin-left: 20px;
}
