html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.hinh-nen{
    background-image: url("https://images.pexels.com/photos/1105218/pexels-photo-1105218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-attachment: fixed;
}

.hinh-nen .frame{
    margin-left: 100px; 
    padding-top: 200px;
}

.hinh-nen .frame ul{    
    list-style: none;
    margin-right: 30%;
}

.hinh-nen .frame ul li{
    font-family: Google Sans;
    font-size: 32px;    
    margin-left: 10px;
    padding-bottom: 5px;
}

.hinh-nen .frame ul li i{
    color: blue;
    opacity: 0;
    transition: 0.4s;
}

.frame ul a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(2, 61, 12);
}

.hinh-nen .frame ul li:hover i{
    opacity: 1;
    padding-left: 40px;

}

.hinh-nen .frame .button{
    background-image: -webkit-linear-gradient(left, #00FFA9,#0D4DFF);
    padding: 15px 35px 15px 35px;
    border-radius: 40px 40px 40px 40px;
    font-family: Google Sans;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
