div{
    width: 600px;
    margin: auto;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    text-align: center;
}

b{
    text-align: center;
    display: block;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

img{
    margin: auto;
    display: block;
    width: 100%;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: bold;
    padding-right: 4px;
    float: left;
}

a{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 21, 21);
    text-decoration: none   ;
}