div{
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 0;
}

h2{
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    width: 400px;
}

h3{
    text-align: center;
}

b{
    display: block;
    text-align: center;
}

p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

img{
    width: 700px;
    display: block;
    margin: auto;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    line-height: 12px;
    font-weight: bold;
    float: left;
    margin-top: 8px;
    padding: 12px;
}

li{
    list-style: none;
    padding: 12px;
    transition: 0.4s;
    display: inline-block;
}

a{
    display: block;
    transition: 0.4s;
    display: block;
}

ul{
    background-color: aquamarine;
}

a:hover{
    margin-top: -6px;

}

li:hover{
    background-color: rgb(194, 133, 21);
}

.menu{
    width: 100%;
    top:0;
    margin: auto;
    position: fixed;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}
ul{
    margin: 0px;
}