.bo{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.bo .layer1{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.bo:hover .layer1{
    transform: scale(1.2);
}

.bo .layer2{
    padding: 157px;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
}

.bo:hover .layer2{
    opacity: 1;
}
