.bo{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bo .layer1{
    width: 300px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: 4s;
}

.bo:hover .layer1{
    transform: rotate(180deg);
}

.bo .layer2{
    width: 300px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}