.menu{
    display: block;
    text-align: center;
    background-color: tomato;
}
.menu ul{
    margin: auto;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    display: block;
}
.menu ul li a:hover{
    font-weight: bold;
    color: thistle;
}

.menu ul li:hover{
    background-color: rgb(116, 20, 3);
}

.content{
    width: 600px;
    margin: auto;
}

.content ul li{
    font-family: Arial, Helvetica, sans-serif;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    text-align: center;
}

.content b{
    text-align: center;
    display: block;
}

.content h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
}

.content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

.content p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

.content img{
    margin: auto;
    display: block;
    width: 100%;
}

.content p span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: bold;
    padding-right: 4px;
    float: left;
}

a{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 21, 21);
    text-decoration: none   ;
}